body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: #ff6f61;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
.rodapesuper{
    background-color: rgb(0, 255, 255);
    height: 5vh;
}